.employeeHeader {
    text-align: left;
    margin:left;
    background-color: rgb(215, 221, 25);
    width: 50%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}


th, td {
    border: 1px solid #ccc;
    padding: 10px;
  

}
th{
    background-color: rgba(186, 188, 190, 0.872);
}